<div class="grid-container">
  <h1 class="mat-h1">Tabla Colaboradores</h1>
  <mat-grid-list cols="1" >
    <mat-grid-tile >
      <mat-card class="dashboard-card">
      
         
              <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Numero de empleado</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        
     
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
