<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <title>Document</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>

    <div id="barra_lateral" class="menu-collapsed">
       <i class="fa fa-bars" id="icon_bars"></i>

        <div id="btn_iniciativas">
            <i class="fa fa-home" id="icon_btn"></i>  <input type="button" value="Iniciativa" id="btn_lateral">   
            
        </div>
        <div id="btn_colaboradores">
            <i class="fa fa-users" id="icon_btn"></i><input type="button" value="Colaboradores" id="btn_lateral">
        </div>
        <div id="btn_asignaciones">
            <i class="fa fa-file" id="icon_btn"></i> <input type="button" value="Asignaciones" id="btn_lateral">
        </div>
        <div id="btn_asignaciones">
            <i class="fa fa-cogs" id="icon_btn"></i><input type="button" value="Actividades" id="btn_lateral">
        </div>
    </div>


   

</body>
</html>
