<div class="grid-container">

  <span>TABLA ASIGNACIONES</span>




  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">INICIATIVAS</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>NOMBRE INICIATIVA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>INICIATIVA 1</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>INICIATIVA 2</td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>INICIATIVA 3</td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>INICIATIVA 4</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="Tasignaciones">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">1</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">2</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">3</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">&raquo;</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">COLABORADORES</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>NOMBRE COLABORADOR</th>
                  
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td class="d-flex ">Update software <i class="bi bi-info-circle-fill  ms-auto p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></td>
                  
                    
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td class="d-flex ">Update software <i class="bi bi-info-circle-fill  ms-auto p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></td>
                 
                  
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td class="d-flex ">Update software <i class="bi bi-info-circle-fill  ms-auto p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></td>
                  
                 
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="Tasignaciones">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">1</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">2</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">3</a></li>
                <li class="page-item"><a class="page-link" href="Tasignaciones">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    
    </div><!-- /.container-fluid -->

  </section>

  <!-- /.content -->
  <div id="container" class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 250px;">
    <div class="row">
      
    </div>
        <div class="mt-auto p-2 bd-highlight">
        <button class="btn btn-success" type="button">Guardar</button>
        </div>
  </div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           

        <div class="mb-3 row">
          
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
          </div>
       
          
        </div>

     
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>
     
      </div>
    </div>
  </div>
</div>
     
</div>



<!--
      <table style="height: 100px;">
      <tbody>
        <tr>
          <td class="align-baseline">baseline</td>
          <td class="align-top">top</td>
          <td class="align-middle">middle</td>
          <td class="align-bottom">bottom</td>
          <td class="align-text-top">text-top</td>
          <td class="align-text-bottom">text-bottom</td>
        </tr>
      </tbody>
    </table>
-->

<!--Ejemplo de posicionamiento-->
<!--
  <div class="d-flex align-items-end flex-column bd-highlight mb-3" style="height: 200px;">
    <div class="p-2 bd-highlight">Flex item</div>
    <div class="p-2 bd-highlight">Flex item</div>
    <div class="mt-auto p-2 bd-highlight">Flex item</div>
  </div>
-->
