<div class="grid-container">

  <span>FORMULARIO DE COLABORADOR</span>
  <mat-grid-list cols="1" rowHeight="1100px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">

        <form>
          <div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    DATOS COLABORADOR
                  </button>
                </h2>

                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">

                  <div class="accordion-body">

                    <div class="mb-3">
                      <label for="idcolaborador" class="form-label">Empresa</label>
                      <input type="text" class="form-control" name="idcolaborador" id="idcolaborador"
                        aria-describedby="idcolaborador" minlength="5" maxlength="50" required pattern="[A-Za-z, ,]+"
                        autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="idEquipo" class="form-label">idEquipo</label>
                      <input type="text" class="form-control" name="idEquipo" id="idEquipo" minlength="5" maxlength="50"
                        required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="idEspecialidad" class="form-label">idEspecialidad</label>
                      <input type="text" class="form-control" name="idEspecialidad" id="idEspecialidad" minlength="5"
                        maxlength="50" required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="idGerenciaSR" class="form-label"> idGerenciaSR </label>
                      <input type="text" class="form-control" name="idGerenciaSR" id="idGerenciaSR" minlength="5"
                        maxlength="40" required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="Nempleado" class="form-label">Nombre del empleado</label>
                      <input type="text" class="form-control" name="Nempleado" id="Nempleado" minlength="5"
                        maxlength="50" required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="comentarioNegocio" class="form-label">comentarioNegocio</label>
                      <input type="text" class="form-control" name="comentarioNegocio" id="comentarioNegocio"
                        minlength="5" maxlength="50" required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="idPuesto" class="form-label">IdPuesto</label>
                      <input type="text" class="form-control" name="idPuesto" id="idPuesto" minlength="5" maxlength="50"
                        required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="fulltime" class="form-label">fulltime</label>
                      <input type="text" class="form-control" name="fulltime" id="fulltime" minlength="5" maxlength="50"
                        required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="correo" class="form-label">correo</label>
                      <input type="text" class="form-control" name="correo" id="correo" minlength="5" maxlength="50"
                        required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="idLider" class="form-label">idLider</label>
                      <input type="text" class="form-control" name="idLider" id="idLider" minlength="5" maxlength="50"
                        required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="idUbicacion" class="form-label">idUbicacion</label>
                      <input type="text" class="form-control" name="idUbicacion" id="idUbicacion" minlength="5" maxlength="50"
                        required pattern="[A-Za-z, ,]+" autofocus>
                    </div>

                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    MODALIDADES
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">

                    <div class="mb-3">
                      <label for="idEsquema" class="form-label">idEsquema</label>
                      <input type="text" class="form-control" name="idEsquema" id="idEsquema"
                        aria-describedby="idEsquema" minlength="5" maxlength="15" required pattern="[A-Za-z]+"
                        autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="tipoColaborador" class="form-label">tipoColaborador</label>
                      <input type="text" class="form-control" name="tipoColaborador" id="tipoColaborador" minlength="5"
                        maxlength="15" required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="Idcentro" class="form-label">Id centro</label>
                      <input type="input" class="form-control" name="Idcentro" id="Idcentro" minlength="5"
                        maxlength="15" required pattern="[0-9]{2,10}" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="idEmpresa" class="form-label"> idEmpresa</label>
                      <input type="text" class="form-control" name="idEmpresa" id="idEmpresa" minlength="5"
                        maxlength="50" required pattern="[A-Za-z, ,]+" autofocus>
                    </div>
                    <div class="mb-3">
                      <label for="numColaborador" class="form-label">numColaborador</label>
                      <input type="input" class="form-control" name="numColaborador" id="numColaborador" maxlength="10"
                        required pattern="[0-9]{2,10}" autofocus>
                    </div>
                  
                    <div class="mb-3">
                      <label for="ipBanco" class="form-label">ipBanco</label>
                      <input type="text" class="form-control" name="ipBanco" id="ipBanco" minlength="5" maxlength="15"
                        required pattern="[A-Za-z]+" autofocus>
                    </div>


                    <div class="mb-3">
                      <label for="ipVPN" class="form-label">ipVPN</label>
                      <input type="text" class="form-control" name="ipVPN" id="ipVPN" minlength="5" maxlength="15"
                        required pattern="[A-Za-z]+" autofocus>

                    </div><div class="mb-3">
                      <label for="solicitante" class="form-label">solicitante</label>
                      <input type="text" class="form-control" name="solicitante" id="solicitante" minlength="5" maxlength="15"
                        required pattern="[A-Za-z]+" autofocus>
                    </div>

                  </div>
                </div>
              </div> <br>
              <div class="d-grid gap-2 col-2 mx-auto">
                <button type="button" class="btn btn-outline-primary">Guardar</button>

              </div>
            </div>


          </div>
        </form>

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>