<div class="grid-container">
  <span>FORMULARIO DE ASIGNACIONES</span>
  <mat-grid-list cols="1" rowHeight="800px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  INICIATIVA ESTRATEGICA
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form>
                    <div class="mb-3">
                      <label for="Datencion" class="form-label">Direccion de atencion</label>
                      <input type="input" class="form-control" name="Datencion" id="Datencion"
                        aria-describedby="Datencion" />
                    </div>
                    <div class="mb-3">
                      <label for="Equipo" class="form-label">Equipo</label>
                      <input type="input" class="form-control" name="Equipo" id="Equipo" />
                    </div>
                    <div class="mb-3">
                      <label for="Iasociada" class="form-label">iniciativa asociada</label>
                      <input type="input" class="form-control" name="Iasociada" id="Iasociada" />
                    </div>
                    <div class="mb-3">
                      <label for="Finiciativa" class="form-label">Folio iniciativa estrategica</label>
                      <input type="input" class="form-control" name="Finiciativa" id="Finiciativa" />
                    </div>
                    <div class="mb-3">
                      <label for="Niniciativa" class="form-label">Nombre iniciativa estrategica</label>
                      <input type="input" class="form-control" name="Niniciativa" id="Niniciativa" />
                    </div>
                    <div class="mb-3">
                      <label for="Descripcion" class="form-label">Descripcion</label>
                      <input type="input" class="form-control" name="Descripcion" id="Descripcion" />
                    </div>
                    <div class="mb-3">
                      <label for="Especialidad" class="form-label">Especialidad</label>
                      <input type="input" class="form-control" name="Especialidad" id="Especialidad" />
                    </div>
                    <div class="mb-3">
                      <label for="Folio" class="form-label">Folio</label>
                      <input type="input" class="form-control" name="Folio" id="Folio" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Enviar
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  DETALLES
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form>
                    <div class="mb-3">
                      <label for="Nombre" class="form-label">Nombre</label>
                      <input type="date" class="form-control" name="Nombre" id="Nombre"
                        aria-describedby="Nombre" />
                    </div>
                    <div class="mb-3">
                      <label for="GerenciaS" class="form-label">Gerencia Sr</label>
                      <input type="date" class="form-control" name="GerenciaS" id="GerenciaS" />
                    </div>
                    <div class="mb-3">
                      <label for="IDiniciativa" class="form-label"> ID archivo iniciativa </label>
                      <input type="date" class="form-control" name="IDiniciativa" id="IDiniciativa" />
                    </div>
                    <div class="mb-3">
                      <label for="Niniciativa" class="form-label">Nombre iniciativa</label>
                      <input type="date" class="form-control" name="Niniciativa" id="Niniciativa" />
                    </div>
                    <div class="mb-3">
                      <label for="Cnegocio" class="form-label"> Comentario de negocio</label>
                      <input type="date" class="form-control" name="Cnegocio" id="Cnegocio" />
                    </div>
                    <div class="mb-3">
                      <label for="Posicion" class="form-label"> Posicion</label>
                      <input type="date" class="form-control" name="Posicion" id="Posicion" />
                    </div>
                    <div class="mb-3">
                      <label for="Ftime" class="form-label"> Full time</label>
                      <input type="date" class="form-control" name="Ftime" id="Ftime" />
                    </div>
                    <div class="mb-3">
                      <label for="IE" class="form-label"> Interno/Externo </label>
                      <input type="date" class="form-control" name="IE" id="IE" />
                    </div>
                    <div class="mb-3">
                      <label for="Proveedor" class="form-label"> Proveedor </label>
                      <input type="date" class="form-control" name="Proveedor" id="Proveedor" />
                    </div>
                    <div class="mb-3">
                      <label for="Solicitante" class="form-label"> Solicitante</label>
                      <input type="date" class="form-control" name="Solicitante" id="Solicitante" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Enviar
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ESTATUS
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <form>
                    <div class="mb-3">
                      <label for="Estatus" class="form-label">Estatus</label>
                      <input type="input" class="form-control" name="Estatus" id="Estatus"
                        aria-describedby="Estatus" />
                    </div>
                    <div class="mb-3">
                      <label for="Moperativo" class="form-label">Modelo operativo</label>
                      <input type="input" class="form-control" name="Moperativo" id="Moperativo" />
                    </div>
                    <div class="mb-3">
                      <label for="Comentarios" class="form-label">Comentarios</label>
                      <input type="input" class="form-control" name="Comentarios" id="Comentarios" />
                    </div>
                    <div class="mb-3">
                      <label for="Pproyecto" class="form-label">Porcentaje de proyecto</label>
                      <input type="input" class="form-control" name="Pproyecto" id="Pproyecto" />
                    </div>
                    <div class="mb-3">
                      <label for="Finicio" class="form-label"> Fecha inicio</label>
                      <input type="input" class="form-control" name="Finicio" id="Finicio" />
                    </div>
                    <div class="mb-3">
                      <label for="Ffin" class="form-label"> Fecha fin</label>
                      <input type="input" class="form-control" name="Ffin" id="Ffin" />
                    </div>
                    <div class="mb-3">
                      <label for="Treport" class="form-label">Time report</label>
                      <input type="input" class="form-control" name="Treport" id="Treport" />
                    </div>
                    <div class="mb-3">
                      <label for="Nintegrantes" class="form-label">Numero de integrantes</label>
                      <input type="input" class="form-control" name="Nintegrantes" id="Nintegrantes" />
                    </div>
                    <div class="mb-3">
                      <label for="Comentarios" class="form-label"> Comentarios </label>
                      <input type="input" class="form-control" name="Comentarios" id="Comentarios" />
                    </div>
                    <div class="mb-3">
                      <label for="tipo" class="form-label"> tipo </label>
                      <input type="input" class="form-control" name="tipo" id="Pproyecto" />
                    </div>

                    <button type="submit" class="btn btn-primary">
                      Enviar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>